.lo{
    padding: 10px 10px 10px 10px;
    background-color: #DBEEF4;
}
b{
    color: #000080
}
.red{
    color: #ff0000
}
.blue{
    color: #3944bc
}
.green{
    color: #028a0f
}
.violet{
    color: #8806ce
}
.orange{
    color: #f28500;
}